<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\dev\painel\venv\Scripts\waitress-serve.exe"
                  arguments="--host 127.0.0.1 --port %HTTP_PLATFORM_PORT% app:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="C:\dev\painel\painel_logs\python_logs.txt"
                  startupTimeLimit="60"
                  processesPerApplication="1">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="C:\dev\painel" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>